/* PHASE 11: Icons */
.icon-comment {

}

.icon-reblog {

}

.icon-favorite {

}

[class*="icon-"] {
  /* background-image: url("../images/cat.jpg"); */
  background: url("../images/sprite.png");
  background-position: top;
  background-repeat: no-repeat;
}